/* General */
 * {
     box-sizing: border-box;
 }

@font-face {
    font-family: Roboto-Regular;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

body {
    margin: 0;
    font-family: Roboto-Regular;
}

#container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header, main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position:relative;
}
#header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    position: absolute;
    top: 0;
    z-index: 2;
}

/* Header */

header #header {
    justify-content: space-between;
}

header h1 {
    color: white;
    margin-left: 22px;
    font-weight: bolder;
}

body header #header h1 span {
    color: orange;
    border: 3px solid white;
    border-right: none;
    padding-left: 8px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

header nav ul li {
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

#banner {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

#slogan-button {
    width: 100%;
    max-width: 1200px;
    position: absolute;
    top: 40%;
    text-align: center;
}

#slogan {
    width: 100%;
    color: white;
    font-size: 46px;
    font-weight: lighter;
    margin-left: 0;
}

button {
    height: 50px;
    width: 150px;
    color: white;
    background-color: #1c70b1;
    border-style: none;
    border-radius: 25px;
}

/* Main */

#who-container {
    text-align: center;
    border-bottom: 1px solid black;
    margin:  5% 40% 5% 40%;
    position: relative;
}

 h2 {
    font-weight: lighter;
 }

#rotated-square {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    z-index: 2;
    transform: rotateZ(45deg);
    position: absolute;
    background-color: white;
    left: 46%;
    top: 80%;
}

#article-container {
    display: flex;
    justify-content: space-evenly;
}

#first-article {
    width: 30%;
    margin: 0 1.5%;
}

#first-article>h3 {
    color: #53a2e0;
}

#second-article {
    width: 30%;
    margin: 0 1.5%;
}

#second-article>img {
    width: 100%;
}

#third-article {
    width: 30%;
    margin: 0 1.5%;
}

#third-article>h3 {
    color: #53a2e0;
}

#first-article>ul, #third-article>ul {
    list-style-image: url(./assets/images/arrow_bullet.png);
    color: #777;
}

/* Second Section */

#what-container {
    text-align: center;
    border-bottom: 1px solid black;
    margin:  5% 40% 5% 40%;
    position: relative;
}

#what-container>h2 {
    font-weight: lighter;
 }

 